/* popup.css */

body {
    width: 300px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
}
  
#container {
    padding: 20px;
}   

#searchInputs, #extractedText {
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}

.alert {
    color: green;
    font-size: 18px;
}